<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="container-fluid">
        <h1>TICKES DE DSCUENTOS</h1>
        <h3>Bienvenido {{user_name}}</h3>
        
        <form id="formToQR" class="col-lg-6 offset-lg-3 " action="/convertToQR" method="post">
            <div class="form-group">
                <label for="exampleInputPassword1">Producto</label>
                <input type="text" class="form-control" name="producto" id="producto" placeholder="Producto"><br>
              </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Descuento en %</label>
                <input type="text" name="descuento" class="form-control" id="descuento" placeholder="Descuento en %"><br>
              </div>        

            <input type="submit" class="btn btn-primary" value="Transformar">
        </form>
    </div>

	<label id="msg"></label>
	<div id="divImg"></div>

 <script type="text/javascript">
 	$("#formToQR").on("submit", function(event){
 		event.preventDefault();

 		$("#divImg, #msg").html("");

 		$.post( "/convertToQR",{
 			producto: $("#producto").val(),
 			descuento: $("#descuento").val()
 		})
 		.then(function(result, textStatus, jqXHR ) {
	 			console.log(result);
	 			console.log(textStatus);
	 			console.log(jqXHR);

	 			if(jqXHR.status == 204){
	 				$("#divImg").html("");
					 $("#msg").html("Los datos son requeridos");
	 				return;
	 			}

				var myWindow = window.open(null, "Ticket Descuento");
				var htmlString = "<html><head><title></title></head><body>";
				htmlString += "<h2> Ticket de Descuento</h2>";
				htmlString += "<img src='data:image/jpg;base64,"+result.img64+"'>";
				htmlString += "</body></html>";

				myWindow.document.write(htmlString);
				myWindow.document.close();
				myWindow.onload = function(){ myWindow.print();	};
				//myWindow.print();

	 			$("#msg").html(result.msg);
 			}, function(fallo) {
	 			console.log(fallo);
	 			alert( "$.get failed!" );
 			}
 		);
 	});
 </script>
</body>
</html>