<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Generar Descuento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="col-lg-6 offset-lg-3">   
		<div class="card mt-5">        
        <div class="card-header bg-primary text-white ">
			<h1>TICKE DE DSCUENTO</h1>
			<h3>Bienvenido {{user_name}}</h3>
			<a class="btn btn-success float-right" href="./valiarDescuento">Validar Descuento</a>
		</div>
		<div class="card-body"> 				
				<form id="formToQR" action="/convertToQR" method="post">	
				<div class="form-group">
					<label for="producto">Producto</label>
					<input type="text" class="form-control" name="producto" id="producto" placeholder="Producto">
				</div>
				<div class="form-group">
					<label for="descuento">Descuento en %</label>
					<input type="number" name="descuento" class="form-control" id="descuento" placeholder="Descuento en %">
				</div>        

				<input type="submit" class="btn btn-primary" value="Generar">
			</form>
		</div>
    </div>

	<label id="msg"></label>
	<div id="divImg"></div>

 <script type="text/javascript">
 	$("#formToQR").on("submit", function(event){
 		event.preventDefault();

 		$("#divImg, #msg").html("");

 		$.post( "/convertToQR",{
 			producto: $("#producto").val(),
 			descuento: $("#descuento").val()
 		})
 		.then(function(result, textStatus, jqXHR ) {
	 			console.log(result);
	 			console.log(textStatus);
	 			console.log(jqXHR);

	 			if(jqXHR.status == 204){
	 				$("#divImg").html("");
					 $("#msg").html("Los datos son requeridos");
	 				return;
	 			}

				var myWindow = window.open(null, "Código QR de Descuento");
				var htmlString = "<html><head><title></title></head><body>";
				htmlString += "<center><h2>Código QR de Descuento</h2></center>";				
				htmlString += "<center><img width='40%' src='data:image/jpg;base64,"+result.img64+"'></center>";
				htmlString += "<center><p>Gracias por su preferencia</p></center>";
				htmlString += "</body></html>";

				myWindow.document.write(htmlString);
				myWindow.document.close();
				myWindow.onload = function(){ myWindow.print();	};
				//myWindow.print();

	 			$("#msg").html(result.msg);
 			}, function(fallo) {
	 			console.log(fallo);
	 			alert( "$.get failed!" );
 			}
 		);
 	});
 </script>
</body>
</html>